p {
    font-family: "verdana", verdana, sans-serif;
    text-indent: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 70px;
    margin-right: 70px; 
}
body{
    background-color: lightcyan;
}
#lab2 a:link {
    color: blue;
}
#lab2 a:visited {
    color: green;
}
#lab2 a:hover {
    color: red;
    text-decoration: underline;
}
/* ================================= Lab 3 ================================== */
.lab3 li:nth-child(odd){
    background-color: yellow;
    color: darkgreen;
} 
.lab3 li:nth-child(even){
    background-color: beige;
    color: black;
}
/* ================================ Lab 4 =================================== */
img{
    max-width: 100%;
}
.roundedCornersSmall{
    border-radius: 0.4em;
}
#lab4 figure, #art figure{
    border: thin solid brown;
}
.fiftyPercent{
    width: 50%;
    text-align: center;
    padding: 1em;
}
.animated{
    background-color: darkgrey;
}
.animated figcaption{
    color: lightgrey;
}
.transparent{
    background-color: lightgrey;
}
.transparent figcaption{
    color: darkblue;
}
/* ============================= Lab 5 ====================================== */
table{
    border-collapse: collapse;
    border: black;
}

tr:nth-child(odd){
    background-color: beige
}

tr:nth-child(even){
    background-color: aliceblue;
}
tr:hover{
    background-color: yellowgreen;
}
#lab5 h1{
    text-align: center;
    text-decoration: underline;
}
#lab5 h2{
    text-transform: uppercase;
}
td, th { 
    border: 1px solid grey; 
}
td{
    text-align: center;
    padding: 8px;       
}
th{
    background-color: darkkhaki;
}
/* ================================= Lab 6 ================================== */
/* This Section was put here to take the in-line CSS out of lab one 
(now index.php) as we did not use an external CSS sheet at that time*/
.small {
    width: 150px;
        }
.img-right {
    float: right;
    margin-left: 1em;
}
figure{
    border: thin solid darkslategray;
    border-radius: 0.4em;
    padding: 0.5em;
}
figcaption {
    color: #839e99;
    font-style: italic;
    text-align: center;
}
/* ============================= Lab 8 ====================================== */
a:link{
    background-color: #fff;
    color: #009;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

nav ol{
    padding-left: 0;
}

nav ol li{
    background-color: lightcyan;
    display: inline-block;
    list-style-type: none;
    width: 6em;
    padding-right: 3em;
}

.activePage{
    background-color: whitesmoke;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    box-shadow: 0.3em 0.3em 0.3em grey;
}

body{
    font: 14pt Arial,Helvetica,sans-serif;
    margin: auto;
    width: 90%;
}

footer{
    clear: both;
}

#form{
    font: bold Arial,Helvetica,sans-serif;
    max-width: 90%;
}

fieldset{
    border: 2px solid #00498e;
    clear: both;
    margin-top: 2em;
    padding: 1em;
    max-width: 50%; 
}

label{
    color: #005cb3;
    font-size: 1em;
    font-weight: bold;
}

form-heading{
    border-bottom: 2px solid #ddd;
    font-size: 1.25em;
    font-style: italic;
    font-weight: bold;
    margin-bottom: 1.75em;
    padding-bottom: 0.4em;
}

#form input{
    box-sizing: border-box;
    border: 2px solid #C2C2C2;
    box-shadow: 2px 2px 4px #EBEBEB;
    border-radius: 3px;
    padding: 1em;
    outline: none;
}

#form input:focus{
    border: 1px solid #0C0;
}

#form input[type=submit]{
   background: #005cb3 none repeat scroll 0 0;
   border: medium none;
   border-radius: 3px;
   box-shadow: 1px 1px 4px #dadada;
   color: #fff;
   margin: 1em;
   padding: 0.8em 1.4em;
}

.buttons legend{
    display: none;
}

.mistake {
    color: #fff;
    background-color: #800;
    border: thin solid #000;
}
.contact{
    font: bold 1em Arial,Helvetica,sans-serif;  
}

#errors ol li {
    color: #ff5555;
}

.check-field{
    margin: 0 0 1.25em 7.5em;
}

.radio-field{
    margin: 0 0 1.25em 7.5em;
}

.text-field{
    display: block;
    float: left;
    margin: 0 0 1.2em;
    padding-right: 0.5em;
    padding-top: 0.75em;
    text-align: right;
    width: 7em;
}

.comments {
    display: block;
    float: left;
    margin: 0 0 1.2em;
    padding-right: 0.5em;
    padding-top: 0.75em;
    text-align: left;
    width: 30em;
    height: 15em;
    }
.legend {
    font-size: 18pt;
}
#main {
    width: 90%;
    margin: auto;
}
